.dpo-in-charge {
  padding: 3rem 4.2rem;
  background-color: var(--primary-background-color);
  margin: 5rem 0 6rem;

  @media (max-width: 1024px) {
    padding: 3.2rem 1.15rem;
  }

  strong {
    display: block;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 1.6rem;
  }

  a {
    color: var(--primary-text-color);
    text-decoration: underline;
    transition: var(--transition);

    &:hover {
      color: var(--primary-color);
    }
  }
}
