.lightbox-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(25, 25, 24, 0.8);
  z-index: 99;

  button {
    all: unset;
    position: absolute;
    top: 2rem;
    right: 4rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }

  svg {
    color: white;
    scale: 2.5;
    transform-origin: left;
  }
}
