.scrollbar-styled::-webkit-scrollbar {
  width: 0.2rem;

  @media (max-width: 1366px) {
    height: 0.2rem;
  }
}

.scrollbar-styled::-webkit-scrollbar-track {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(127, 124, 121, 1) 50%
  );

  @media (max-width: 1366px) {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(127, 124, 121, 1) 50%
    );
  }
}

.scrollbar-styled::-webkit-scrollbar-thumb {
  background-color: #181717;
}
