body {
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  font-weight: 400;
  font-size: 1.6rem;
}
@media (max-width: 1366px) {
  body {
    margin-top: 6.4rem;
  }
}
section {
  padding: 6rem 0;

  @media (max-width: 1024px) {
    padding: 3.2rem 0;
  }
}
