* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
svg {
  pointer-events: none;
}
a {
  text-decoration: none;
  color: inherit;
}
figure {
  margin: 0;
}
button {
  font-family: var(--primary-font);
  border: none;
  cursor: pointer;
  outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
address {
  font-style: normal;
}
cite {
  font-style: normal;
}
