:root {
  --primary-font: "Montserrat", sans-serif;
  --primary-font-color: #181717;
  --secondary-font-color: #807c79;

  --primary-color: #f58220;

  --primary-background-color: #f7f8fa;

  --primary-gradient: linear-gradient(90deg, #f58220 0%, #3c00ff 100%);
  --footer-background: linear-gradient(90deg, #f58220 50%, #3c00ff 159.31%);
  --primary-background-color: #f7f8fa;

  --border-color: #ccc9c3;

  --transition: all ease 300ms;

  font-size: 62.5%;
}
