:root {
  --primary-font: "Montserrat", sans-serif;
  --primary-font-color: #181717;
  --secondary-font-color: #807c79;
  --primary-color: #f58220;
  --primary-background-color: #f7f8fa;
  --primary-gradient: linear-gradient(90deg, #f58220 0%, #3c00ff 100%);
  --footer-background: linear-gradient(90deg, #f58220 50%, #3c00ff 159.31%);
  --border-color: #ccc9c3;
  --transition: all ease 300ms;
  font-size: 62.5%;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-bold.woff2") format("woff2"), url("../fonts/ubuntu-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

svg {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}

button {
  font-family: var(--primary-font);
  border: none;
  cursor: pointer;
  outline: none;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  font-weight: 400;
  font-size: 1.6rem;
}

@media (max-width: 1366px) {
  body {
    margin-top: 6.4rem;
  }
}
h2 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.7rem;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
}

p {
  color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.3rem;
}
p:not(:last-of-type) {
  margin-bottom: 2rem;
}
@media (max-width: 1024px) {
  p {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.typography h1 {
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 6.1rem;
  color: var(--primary-font-color);
}
@media (max-width: 1024px) {
  .typography h1 {
    font-size: 2.4rem;
    line-height: 4rem;
  }
}
.typography h2 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
  line-height: 1.3;
  color: var(--primary-font-color);
}
@media (max-width: 1024px) {
  .typography h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
.typography h3 {
  font-weight: 600;
  font-size: 3rem;
  margin-top: 3.2rem;
  margin-bottom: 1.2rem;
  line-height: 1.6;
  color: var(--primary-font-color);
}
@media (max-width: 1024px) {
  .typography h3 {
    font-size: 1.8rem;
  }
}
.typography p {
  margin: 3rem 0;
  font-size: inherit;
  color: var(--primary-font-color);
  line-height: 3.2rem;
}
@media (max-width: 1024px) {
  .typography p {
    margin: 2.4rem 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.typography strong {
  font-size: inherit;
  line-height: inherit;
}
.typography ul,
.typography ol {
  padding-left: 2.8rem;
  margin: 2rem 0;
}
.typography ul ::marker,
.typography ol ::marker {
  color: var(--primary-color);
}
.typography ul li,
.typography ol li {
  font-size: inherit;
  padding-left: 0.8rem;
  margin: 0.8rem 0;
}
@media (max-width: 1024px) {
  .typography ul li,
  .typography ol li {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.typography blockquote {
  font-weight: 500;
  font-size: inherit;
  line-height: 2.8rem;
  max-width: 80%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .typography blockquote {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.row {
  display: flex;
}

.cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none !important;
}

.btn, .btn-tertiary, .btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 1.05rem 1.6rem;
  color: white;
  font-size: 1.3rem;
  line-height: 1.3rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  width: max-content;
}
.btn:hover, .btn-tertiary:hover, .btn-secondary:hover {
  color: var(--primary-color);
  background-color: transparent;
}

.btn-secondary {
  color: var(--primary-color);
  background-color: transparent;
}
.btn-secondary:hover {
  color: white;
  background-color: var(--primary-color);
}

.btn-tertiary {
  color: var(--primary-color);
  background-color: white;
  border-color: white;
}
.btn-tertiary:hover {
  background-color: transparent;
  color: white;
}

.mobile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  height: 6.4rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  position: relative;
  z-index: 10;
}
.mobile-btn:hover {
  background-color: transparent;
}
.mobile-btn:hover .hamburger-line {
  background-color: var(--primary-color);
  width: 1.8rem;
}
.mobile-btn:hover .hamburger-line:nth-of-type(2) {
  width: 100%;
}
.mobile-btn.open .container-hamburger-line {
  width: 3.4rem;
}
.mobile-btn.open .hamburger-line {
  width: 100%;
  height: 0.2rem;
}
.mobile-btn.open .hamburger-line:nth-of-type(1) {
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  left: 0;
}
.mobile-btn.open .hamburger-line:nth-of-type(2) {
  width: 0;
}
.mobile-btn.open .hamburger-line:nth-of-type(3) {
  transform: rotate(-135deg);
  position: absolute;
  top: 0;
  left: 0;
}
.mobile-btn .container-hamburger-line {
  position: relative;
  width: 2.64rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: flex-end;
}
.mobile-btn .hamburger-line {
  width: 100%;
  height: 0.3rem;
  background-color: white;
  transition: var(--transition);
}
.mobile-btn .hamburger-line:nth-of-type(2) {
  width: 1.8rem;
  align-self: flex-end;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1160px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1220px;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 0.6rem;
  border-bottom: 0.1rem solid var(--primary-font-color);
  min-height: 3.2rem;
}
.search-bar img {
  width: 1.85rem;
  height: auto;
}
.search-bar input, .search-bar input::placeholder {
  flex: 1;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--primary-font-color);
}
.search-bar button[type=reset] {
  background-color: transparent;
}
.search-bar button[type=submit] {
  display: none;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}
.pagination .page-numbers:not(.dots) {
  width: 5.2rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--border-color);
  transition: var(--transition);
}
.pagination .page-numbers:not(.dots):hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.pagination .page-numbers.current {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.pagination .dots {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 5.2rem;
}
.pagination .prev,
.pagination .next {
  position: relative;
}
.pagination .prev::after,
.pagination .next::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../img/icon-right-chevron.svg);
  background-size: 0.6rem 0.8rem;
  background-repeat: no-repeat;
  background-position: center;
}
.pagination .prev {
  transform: rotate(180deg);
}

#breadcrumbs span {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2.3rem;
  letter-spacing: 0.5em;
  color: var(--primary-color);
}
@media (max-width: 1024px) {
  #breadcrumbs span {
    font-size: 1.2rem;
    line-height: 2.4rem;
    letter-spacing: normal;
  }
}

.scrollbar-styled::-webkit-scrollbar {
  width: 0.2rem;
}
@media (max-width: 1366px) {
  .scrollbar-styled::-webkit-scrollbar {
    height: 0.2rem;
  }
}

.scrollbar-styled::-webkit-scrollbar-track {
  background: linear-gradient(90deg, rgb(255, 255, 255) 50%, rgb(127, 124, 121) 50%);
}
@media (max-width: 1366px) {
  .scrollbar-styled::-webkit-scrollbar-track {
    background: linear-gradient(180deg, rgb(255, 255, 255) 50%, rgb(127, 124, 121) 50%);
  }
}

.scrollbar-styled::-webkit-scrollbar-thumb {
  background-color: #181717;
}

.swiper > .container {
  display: flex;
}

.slider-btn, .slider-btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.2rem;
  height: 5.2rem;
  border: 0.1rem solid white;
  color: white;
  cursor: pointer;
  transition: var(--transition);
}
@media (max-width: 1024px) {
  .slider-btn, .slider-btn-secondary {
    width: 4rem;
    height: 4rem;
  }
}
.slider-btn:hover, .slider-btn-secondary:hover {
  opacity: 0.6;
}
.slider-btn:last-child, .slider-btn-secondary:last-child {
  border-left: none;
}
.slider-btn-secondary {
  color: var(--primary-font-color);
  background-color: white;
  border-color: var(--border-color);
}

.swiper-button-disabled {
  opacity: 0.3 !important;
}

.popup-login {
  position: fixed;
  top: 12.7rem;
  right: 2.3rem;
  z-index: 80;
  display: flex;
  align-items: flex-start;
  transition: var(--transition);
}
@media (max-width: 1024px) {
  .popup-login {
    top: auto;
    right: 0.1rem;
    bottom: 9rem;
  }
}
.popup-login.close {
  right: -32.9rem;
  z-index: 40;
}
@media (max-width: 1024px) {
  .popup-login.close {
    bottom: 9rem;
    transform: translateY(100%);
    right: 0.1rem;
  }
}
.popup-login.close form {
  opacity: 0;
}
.popup-login > button {
  position: absolute;
  left: -186px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding: 2.1rem 2.35rem;
  color: white;
  background: rgba(24, 23, 23, 0.9);
  border: 0.05rem solid white;
  box-shadow: 4px 4px 4px rgba(24, 23, 23, 0.3);
  transform: rotate(-90deg);
  transform-origin: 84% 49% 0;
}
@media (max-width: 1024px) {
  .popup-login > button {
    transform: translateY(-100%);
    right: 0;
    left: auto;
  }
}
.popup-login .close-btn {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  border: 0.2rem solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.popup-login form {
  width: 100%;
  max-width: 33rem;
  display: flex;
  flex-direction: column;
  padding: 5rem 4.5rem 5rem 3.2rem;
  background: rgba(24, 23, 23, 0.9);
  border: 0.05rem solid white;
  box-shadow: 4px 4px 4px rgba(24, 23, 23, 0.3);
  transition: opacity ease 300ms;
}
.popup-login form > span {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.06em;
  margin-bottom: 3rem;
}
.popup-login form .container-input {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.2rem;
}
.popup-login form .container-input label {
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
}
.popup-login form .container-input input, .popup-login form .container-input .search-bar input::placeholder, .search-bar .popup-login form .container-input input::placeholder {
  color: white;
  width: 100%;
  border: 1px solid white;
  padding: 1.3rem 1.6rem;
  background-color: transparent;
}
.popup-login form .container-input input::placeholder {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
}
.popup-login form .container-input.container-password {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  column-gap: 0;
  margin-bottom: 1.3rem;
}
.popup-login form .container-input.container-password label {
  width: 100%;
}
.popup-login form .container-input.container-password input, .popup-login form .container-input.container-password .search-bar input::placeholder, .search-bar .popup-login form .container-input.container-password input::placeholder {
  width: 80%;
  border-right: none;
  outline: none;
}
.popup-login form .container-input.container-password button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  border: 1px solid white;
  border-left: none;
  align-self: stretch;
  background-color: transparent;
  color: white;
}
.popup-login form .bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.6rem;
}
.popup-login form .bottom .container-checkbox {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.6rem;
  align-items: center;
  justify-self: flex-start;
}
.popup-login form .bottom .container-checkbox label {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1rem;
}
.popup-login form .bottom .container-checkbox input, .popup-login form .bottom .container-checkbox .search-bar input::placeholder, .search-bar .popup-login form .bottom .container-checkbox input::placeholder {
  appearance: none;
  border: 0.1rem solid white;
  height: 1rem;
  width: 1rem;
}
.popup-login form .bottom .container-checkbox input:checked, .popup-login form .bottom .container-checkbox .search-bar input:checked::placeholder, .search-bar .popup-login form .bottom .container-checkbox input:checked::placeholder {
  background-color: white;
}
.popup-login form .bottom > a {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: -0.01em;
}
.popup-login form .bottom span {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  color: white;
  align-self: flex-end;
}
.popup-login form .bottom span a {
  text-decoration: underline;
}
.popup-login form .bottom button {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 1.4rem 3.55rem;
}

.main-header .menu-mobile-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--primary-font-color);
  margin: 3.3rem 0 4.6rem;
}
.main-header .menu-mobile-search input, .main-header .menu-mobile-search .search-bar input::placeholder, .search-bar .main-header .menu-mobile-search input::placeholder {
  flex: 1;
  border: none;
  outline: none;
}
.main-header .menu-mobile-search input, .main-header .menu-mobile-search input::placeholder {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--primary-font-color);
  font-family: var(--primary-font);
}
@media (max-width: 1366px) {
  .main-header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 80;
    background-color: white;
  }
  .main-header:has(.open) {
    z-index: 90;
  }
  .main-header .container {
    max-width: none;
  }
  .main-header .row {
    align-items: center;
    justify-content: space-between;
  }
  .main-header .row > a {
    position: relative;
    z-index: 10;
  }
  .main-header .right {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  .main-header .right > a {
    position: relative;
    z-index: 10;
  }
  .main-header .container-menu-mobile {
    position: fixed;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    padding: 6.4rem 5rem 5.5rem 3.2rem;
    transition: var(--transition);
    display: none;
    visibility: hidden;
    background-color: white;
  }
  .main-header .container-menu-mobile.open {
    visibility: visible;
    display: block;
    transform: translateX(0);
  }
  .main-header .menu-mobile-search button {
    display: none;
  }
  .main-header nav {
    height: 70vh;
    overflow: auto;
    padding-bottom: 8rem;
  }
  .main-header nav ul {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    list-style: none;
  }
  .main-header nav .menu-item-has-children {
    pointer-events: fill;
  }
  .main-header nav .menu-item-has-children:has(.open) > a::after {
    background-image: url(../img/icon-minus-orange.svg);
  }
  .main-header nav .menu-item-has-children > a::after {
    content: "";
    width: 4.8rem;
    height: 2rem;
    background-image: url(../img/icon-plus-black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .main-header nav .sub-menu {
    overflow: hidden;
    height: 0;
    transition: var(--transition);
  }
  .main-header nav .sub-menu.open {
    margin-top: 2.4rem;
  }
  .main-header nav .sub-menu a {
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--secondary-font-color);
  }
  .main-header nav > ul > li a {
    padding-block: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
  .main-header nav > ul > li:has(.open) > a {
    color: var(--primary-color);
  }
  .main-header .call-menu-search {
    display: none;
  }
}
@media (min-width: 1367px) {
  .main-header {
    background-color: white;
    position: relative;
    z-index: 10;
  }
  .main-header .mobile-btn {
    display: none;
  }
  .main-header .row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-header .right {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
  .main-header .right > a {
    color: white;
    background-color: var(--primary-color);
  }
  .main-header .right > a:hover {
    color: var(--primary-color);
    background-color: white;
  }
  .main-header .call-menu-search {
    background-color: transparent;
  }
  .main-header .call-menu-search.open img:nth-of-type(1) {
    display: none;
  }
  .main-header .call-menu-search.open img:nth-of-type(2) {
    display: block;
  }
  .main-header .call-menu-search img:nth-of-type(2) {
    display: none;
  }
  .main-header .menu-mobile-search {
    position: absolute;
    transform: translate(150%, -50%);
    left: 0;
    top: 50%;
    margin: 0;
    padding: 0 0 0.7rem;
    background-color: white;
    width: calc(100% - 4rem);
    z-index: 10;
    transition: var(--transition);
  }
  .main-header .menu-mobile-search.open {
    transform: translate(0, -50%);
  }
  .main-header .menu-mobile-search img {
    order: -1;
    pointer-events: none;
  }
  .main-header nav a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: -0.5rem;
    height: 0.2rem;
    background-color: var(--primary-color);
    transition: var(--transition);
  }
  .main-header nav > ul {
    display: flex;
    list-style: none;
    gap: 2.6rem;
  }
  .main-header nav > ul > li {
    padding-block: 3rem;
    position: relative;
  }
  .main-header nav > ul > li:last-child ul {
    left: auto;
    right: 0;
  }
  .main-header nav > ul > li:hover > a::before {
    width: 100%;
  }
  .main-header nav > ul > li > a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .main-header nav .menu-item-has-children a::after {
    content: "";
    width: 1.7rem;
    height: 1.5rem;
    background-image: url(../img/icon-chevron-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    transition: var(--transition);
  }
  .main-header nav .menu-item-has-children:hover .sub-menu {
    width: 29.4rem;
    display: flex;
    flex-wrap: wrap;
  }
  .main-header nav .menu-item-has-children:hover .sub-menu li:not(.destacado) {
    padding-inline: 3.2rem;
  }
  .main-header nav .menu-item-has-children:hover > a::after {
    transform: rotate(-180deg);
  }
  .main-header nav .menu-item-has-children:hover > a::before {
    width: calc(100% - 2.5rem);
  }
  .main-header nav .menu-item-has-children a::before {
    width: 0;
  }
  .main-header nav .sub-menu {
    position: absolute;
    transform: translateY(100%);
    bottom: 0;
    left: 0;
    display: none;
    flex-direction: column;
    row-gap: 1.5rem;
    list-style: none;
    padding-top: 2.7rem;
    background-color: white;
    min-width: 29.4rem;
  }
  .main-header nav .sub-menu.two-columns {
    min-width: 58.8rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-header nav .sub-menu.two-columns > * {
    width: 50%;
  }
  .main-header nav .sub-menu .destacado {
    order: 20;
    padding-left: 0;
    width: 100%;
  }
  .main-header nav .sub-menu .destacado a {
    padding: 1.8rem 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: var(--primary-color);
    background-color: var(--primary-background-color);
    transition: var(--transition);
    display: block;
  }
  .main-header nav .sub-menu .destacado a::before {
    display: none;
  }
  .main-header nav .sub-menu .destacado a:hover {
    background-color: var(--primary-color);
    color: white;
  }
  .main-header nav .sub-menu:not(:has(.destacado)) {
    padding-bottom: 2.4rem;
  }
  .main-header nav .sub-menu a {
    position: relative;
  }
  .main-header nav .sub-menu a:hover::before {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main-header .brand-desktop {
    display: none;
  }
}
@media (min-width: 769px) {
  .main-header .brand-mobile {
    display: none;
  }
}

.hero .slide-hero > .container {
  position: absolute;
  bottom: 3.7rem;
  transform: translateX(-50%);
  left: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
}
.hero .hero-banner {
  display: flex;
  align-items: flex-end;
  padding-bottom: 11.9rem;
  position: relative;
  height: 56.2rem;
}
@media (max-width: 1024px) {
  .hero .hero-banner {
    height: 48rem;
  }
}
.hero .hero-banner figure {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero .hero-banner h2 {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 48.7rem;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 6.2rem;
  color: white;
}
@media (max-width: 1024px) {
  .hero .hero-banner h2 {
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #f4efef;
    max-width: 24rem;
  }
}

.for-who {
  padding: 6.1rem 0;
}
.for-who-infos {
  margin-top: 6rem;
  display: flex;
  gap: 4.8rem;
}
@media (max-width: 1366px) {
  .for-who-infos {
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 2.4rem;
  }
}
.for-who-infos .left {
  display: flex;
  flex-direction: column;
  gap: 5.3rem;
  width: 100%;
  max-width: 36.1rem;
  height: 42.7rem;
  overflow: auto;
  list-style: none;
  flex-shrink: 0;
}
@media (max-width: 1366px) {
  .for-who-infos .left {
    flex-direction: row;
    max-width: initial;
    height: auto;
    padding-bottom: 2.4rem;
  }
}
.for-who-infos .left h3 {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.7rem;
  pointer-events: none;
}
@media (max-width: 1366px) {
  .for-who-infos .left h3 {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}
.for-who-infos .left .info-choice {
  display: flex;
  gap: 2.1rem;
  align-items: center;
  opacity: 0.7;
}
@media (max-width: 1366px) {
  .for-who-infos .left .info-choice {
    flex-direction: column;
    gap: 0.8rem;
  }
}
.for-who-infos .left .info-choice.selected {
  opacity: 1;
}
.for-who-infos .left .container-icon {
  display: flex;
  align-items: center;
  width: 5.6rem;
  height: 5.6rem;
  pointer-events: none;
}
.for-who-infos .right .for-who-card {
  display: none;
  gap: 3.2rem;
  height: 100%;
}
@media (max-width: 1366px) {
  .for-who-infos .right .for-who-card {
    flex-direction: column;
    gap: 2.4rem;
  }
}
.for-who-infos .right .for-who-card:first-child {
  display: flex;
}
.for-who-infos .right figure {
  height: 42.8rem;
  width: 100%;
  max-width: 35.1rem;
  flex-shrink: 0;
}
@media (max-width: 1366px) {
  .for-who-infos .right figure {
    height: 25.7rem;
    max-width: initial;
  }
}
@media (max-width: 640px) {
  .for-who-infos .right figure {
    height: 13.7rem;
  }
}
.for-who-infos .right .info-text {
  padding: 4.3rem 0;
}
@media (max-width: 1366px) {
  .for-who-infos .right .info-text {
    padding: 0;
  }
}
.for-who-infos .right .info-text p {
  color: var(--primary-text-color);
  font-size: 2.3rem;
  line-height: 2.8rem;
}
@media (max-width: 1366px) {
  .for-who-infos .right .info-text p {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}
.for-who-infos .right .info-text p strong {
  font-weight: 600;
}
.for-who-infos .right .info-text a {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  width: max-content;
  margin-top: 2rem;
  padding: 1.65rem 1.8rem;
}

.section-solutions {
  padding: 5.7rem 0;
  background-color: var(--primary-background-color);
}
@media (max-width: 550px) {
  .section-solutions > .container p {
    max-width: 21.1rem;
  }
}
.section-solutions .slide-solutions {
  margin-top: 3.1rem;
  overflow: visible;
}
@media (max-width: 1024px) {
  .section-solutions .slide-solutions {
    margin-top: 2.4rem;
    padding-inline: 1.5rem;
  }
}
.section-solutions .slide-solutions > .container {
  position: absolute;
  top: -8.8rem;
  transform: translateX(-50%);
  left: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .section-solutions .slide-solutions > .container {
    top: -7rem;
  }
}
.section-solutions .slide-solutions .swiper-slide {
  width: auto;
}
.section-solutions .solutions-card {
  width: 37.9rem;
  height: 50.3rem;
}
@media (max-width: 1024px) {
  .section-solutions .solutions-card {
    width: 26.6rem;
    height: auto;
  }
}
.section-solutions .solutions-card:hover img {
  filter: brightness(50%);
}
.section-solutions .solutions-card:hover h2 {
  color: var(--primary-color);
}
.section-solutions .solutions-card .top {
  position: relative;
  height: 100%;
}
.section-solutions .solutions-card img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}
.section-solutions .solutions-card figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .section-solutions .solutions-card figure {
    height: 14.4rem;
  }
}
.section-solutions .solutions-card h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.7rem;
  text-align: center;
  color: white;
  transition: var(--transition);
}
@media (max-width: 1024px) {
  .section-solutions .solutions-card h2 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    width: 15.7rem;
  }
}
.section-solutions .solutions-card .bottom {
  display: none;
  padding: 1.6rem 2.2rem 2.4rem;
  background-color: white;
}
@media (max-width: 1024px) {
  .section-solutions .solutions-card .bottom {
    display: block;
  }
}
.section-solutions .solutions-card .bottom p {
  color: var(--primary-text-color);
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1.6rem;
}
.section-solutions .solutions-card .bottom a {
  width: max-content;
  margin: 0 auto;
}

.section-partners {
  padding-top: 6.4rem;
}
.section-partners > .container h2 {
  position: relative;
  z-index: 10;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4rem;
  width: 100%;
  max-width: 36.4rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 1024px) {
  .section-partners > .container h2 {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
}
@media (max-width: 500px) {
  .section-partners > .container h2 {
    max-width: 20.6rem;
  }
}
.section-partners .container-slide-partners {
  overflow: hidden;
  padding-top: 5.2rem;
  margin-top: -55px;
}
.section-partners .slide-partners {
  padding: 5.3rem 3.3rem;
  border: 0.1rem solid var(--border-color);
  overflow: visible;
}
.section-partners .slide-partners .swiper-slide {
  width: auto;
}
.section-partners .slide-partners a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-partners .slide-partners > .container {
  position: absolute;
  transform: translateY(-100%);
  right: -0.1rem;
  top: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.section-video {
  padding: 6.4rem 0;
}
@media (max-width: 1024px) {
  .section-video .container {
    max-width: none;
    padding: 0;
  }
}
.section-video .container-thumbnail {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 7.3rem 10rem;
  height: 71.2rem;
}
@media (max-width: 1024px) {
  .section-video .container-thumbnail {
    height: 23.2rem;
    padding: 0 0 2.5rem 2.3rem;
  }
}
.section-video .container-thumbnail .container-play {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.1rem;
  height: 6.1rem;
  background-color: white;
  border-radius: 50%;
  padding-left: 0.7rem;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .section-video .container-thumbnail .container-play {
    width: 3.2rem;
    height: 3.2rem;
    padding-left: 0.35rem;
  }
}
@media (max-width: 1024px) {
  .section-video .container-thumbnail .container-play svg {
    scale: 0.5;
  }
}
.section-video .container-thumbnail figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.section-video .container-thumbnail h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.7rem;
  max-width: 34.3rem;
  color: white;
}
@media (max-width: 1024px) {
  .section-video .container-thumbnail h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
.section-video .container-thumbnail p {
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 2.8rem;
  max-width: 43.3rem;
  margin: 1.5rem 0 3.3rem;
  color: white;
}
@media (max-width: 1024px) {
  .section-video .container-thumbnail p {
    display: none;
  }
}
.section-video .container-thumbnail a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 14px;
  line-height: 17px;
  color: var(--primary-color);
}
@media (max-width: 1024px) {
  .section-video .container-thumbnail a {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 0.8rem;
  }
}
.section-video .container-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  background-color: rgba(25, 25, 24, 0.8);
  z-index: 99;
}
.section-video .container-video.open {
  display: flex;
  visibility: visible;
}
.section-video .container-video svg {
  color: white;
  scale: 2.5;
}
.section-video .container-video .container-close-btn {
  position: absolute;
  top: 2rem;
  right: 4rem;
  cursor: pointer;
}

.section-evaluation {
  padding: 0 0 6rem;
}
@media (max-width: 1024px) {
  .section-evaluation {
    padding: 0 0 4rem;
  }
}
@media (max-width: 1024px) {
  .section-evaluation > .container {
    max-width: none;
    padding: 0;
  }
}
@media (max-width: 1024px) {
  .section-evaluation .row {
    flex-direction: column;
  }
}
.section-evaluation .slide-evaluation {
  display: flex;
  flex-direction: column-reverse;
}
.section-evaluation .slide-evaluation > .container {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-bottom: -0.1rem;
  z-index: 2;
}
@media (max-width: 1024px) {
  .section-evaluation .slide-evaluation > .container {
    margin-bottom: 0;
  }
}
.section-evaluation .evaluation-card .left figure {
  height: 38.4rem;
  width: 55.1rem;
}
@media (max-width: 1024px) {
  .section-evaluation .evaluation-card .left figure {
    width: 100%;
    height: 25rem;
  }
}
.section-evaluation .evaluation-card .right {
  padding: 5.2rem 6.1rem 5.2rem 8.3rem;
  border: 0.1rem solid var(--border-color);
  border-left: none;
}
@media (max-width: 1024px) {
  .section-evaluation .evaluation-card .right {
    padding: 2.4rem 2.5rem;
  }
}
.section-evaluation .evaluation-card .right h2 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.7rem;
}
@media (max-width: 1024px) {
  .section-evaluation .evaluation-card .right h2 {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
}
.section-evaluation .evaluation-card .right p {
  color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 2.8rem;
  margin: 1.6rem 0;
}
@media (max-width: 1024px) {
  .section-evaluation .evaluation-card .right p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
@media (max-width: 1024px) {
  .section-evaluation .evaluation-card .right a {
    padding: 1.05rem 1.6rem;
  }
}

.section-events {
  padding: 6rem 0;
  background-color: var(--primary-background-color);
}
.section-events .row {
  gap: 4.5rem;
}
@media (max-width: 1366px) {
  .section-events .row {
    flex-direction: column;
    gap: 2.3rem;
  }
}
.section-events .left {
  max-width: 21.8rem;
  padding-right: 3.4rem;
}
@media (max-width: 1366px) {
  .section-events .left {
    max-width: 40rem;
  }
}
.section-events .left h2 {
  margin-bottom: 1rem;
}
@media (max-width: 1366px) {
  .section-events .slide-events {
    margin: 0;
    overflow: visible;
  }
}
.section-events .slide-events .swiper-slide {
  width: auto !important;
}
.section-events .event-card {
  display: flex;
  flex-direction: column;
  width: 27.3rem;
  height: 39.6rem;
  background-color: var(--primary-color);
}
.section-events .event-card figure {
  width: 100%;
  height: 13.9rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.section-events .event-card figure img {
  filter: brightness(90%);
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.section-events .event-card .bottom {
  padding: 3rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  color: white;
  flex: 1;
}
.section-events .event-card .bottom h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.3rem;
}
.section-events .event-card .bottom span:last-of-type {
  font-size: 1.4rem;
  line-height: 2.3rem;
  flex: 1;
  display: flex;
  align-items: flex-end;
}
.section-events .event-card .bottom a {
  padding: 1.7rem 1.5rem;
  border-color: white;
  color: white;
  margin-top: 2.2rem;
}
.section-events .event-card .bottom a:hover {
  background-color: white;
  color: var(--primary-color);
}
.section-events .event-card .bottom .container-date {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
  font-size: 3rem;
}
.section-events .event-card .bottom .container-date .day {
  font-weight: 500;
  line-height: 3.7rem;
}
.section-events .event-card .bottom .container-date .month {
  font-size: 1.5rem;
  line-height: 1.9rem;
  text-transform: uppercase;
}

.section-news {
  padding: 6rem 0;
}
.section-news .container > p {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 36.8rem;
}
@media (max-width: 550px) {
  .section-news .container > p {
    max-width: 21.1rem;
  }
}
.section-news .slide-news {
  overflow: visible;
  margin-top: 3.9rem;
  display: flex;
  flex-direction: column;
  margin-top: -3.8rem;
}
@media (max-width: 768px) {
  .section-news .slide-news {
    overflow: hidden;
    margin-top: -4.4rem;
  }
}
@media (min-width: 768px) {
  .section-news .slide-news .swiper-slide {
    width: auto !important;
  }
}
.section-news .slide-news > .container {
  display: flex;
  justify-content: flex-end;
  order: -1;
  margin-bottom: 3.8rem;
}
@media (max-width: 768px) {
  .section-news .slide-news > .container {
    margin-bottom: 2.4rem;
  }
}
.section-news .news-card {
  width: 43.3rem;
  min-height: 44.5rem;
}
@media (max-width: 768px) {
  .section-news .news-card {
    margin: 0 auto;
    width: 100%;
    min-height: 44.5rem;
  }
}
.section-news .news-card figure {
  width: 100%;
  height: 32.3rem;
}
@media (min-width: 768px) {
  .section-news .news-card figure {
    height: 26rem;
  }
}
.section-news .news-card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.section-news .news-card .bottom {
  padding: 3.6rem 3.1rem 2.4rem;
}
@media (min-width: 768px) {
  .section-news .news-card .bottom {
    padding: 1.6rem 0 0.9rem;
  }
}
.section-news .news-card .bottom .new-info {
  display: flex;
  gap: 1.5rem;
}
.section-news .news-card .bottom .new-info .new-date {
  font-size: 1.9rem;
  line-height: 2.3rem;
  color: var(--secondary-font-color);
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .section-news .news-card .bottom .new-info .new-date {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.section-news .news-card .bottom .new-info .reading-time {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: var(--secondary-font-color);
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .section-news .news-card .bottom .new-info .reading-time {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}
.section-news .news-card .bottom h3 {
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.3rem;
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  .section-news .news-card .bottom h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.section-news .news-card .bottom a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.section-app-download {
  padding: 12.3rem 3rem 21rem;
  background-color: var(--primary-background-color);
  margin-bottom: 14rem;
}
@media (max-width: 1100px) {
  .section-app-download {
    margin-bottom: 11rem;
    padding: 2.8rem 0 16.1rem 1.7rem;
  }
}
@media (max-width: 550px) {
  .section-app-download {
    padding-bottom: 11.2rem;
  }
}
.section-app-download .container {
  position: relative;
}
.section-app-download figure {
  position: absolute;
  top: -14.5rem;
  right: -2rem;
}
@media (max-width: 1366px) {
  .section-app-download figure {
    right: -15.7rem;
  }
}
@media (max-width: 1100px) {
  .section-app-download figure {
    right: auto;
    left: 41.8rem;
    top: 3rem;
  }
}
@media (max-width: 1024px) {
  .section-app-download figure {
    left: 29.8rem;
  }
}
@media (max-width: 768px) {
  .section-app-download figure {
    left: 15.8rem;
  }
}
@media (max-width: 550px) {
  .section-app-download figure {
    left: 12.8rem;
  }
}
@media (max-width: 1100px) {
  .section-app-download figure img {
    width: 49.3rem;
    height: auto;
  }
}
@media (max-width: 768px) {
  .section-app-download figure img {
    width: 10rem;
    height: auto;
  }
}
@media (max-width: 768px) {
  .section-app-download figure img {
    width: 38.3rem;
  }
}
@media (max-width: 550px) {
  .section-app-download figure img {
    width: 24.3rem;
  }
}
.section-app-download .background-column {
  position: absolute;
  top: -12.3rem;
  right: 0;
  width: 100%;
  height: calc(100% + 33.3rem);
  overflow: hidden;
}
@media (max-width: 1100px) {
  .section-app-download .background-column {
    height: calc(100% + 18.9rem);
    top: -2.8rem;
  }
}
@media (max-width: 550px) {
  .section-app-download .background-column {
    height: calc(100% + 14rem);
  }
}
.section-app-download .background-column::before {
  content: "";
  position: absolute;
  top: -84px;
  right: 110px;
  width: 34.2rem;
  height: 100%;
  background: linear-gradient(90deg, #ff6c0d 0%, #fd9f0e 100%);
  transform: matrix(0.93, 0.37, -0.4, 0.92, 0, 0);
}
@media (max-width: 1100px) {
  .section-app-download .background-column::before {
    width: 13rem;
    height: 200%;
    right: auto;
    left: 60rem;
  }
}
@media (max-width: 1024px) {
  .section-app-download .background-column::before {
    left: 49rem;
  }
}
@media (max-width: 768px) {
  .section-app-download .background-column::before {
    width: 13rem;
    height: 200%;
    right: auto;
    left: 31.2rem;
  }
}
@media (max-width: 550px) {
  .section-app-download .background-column::before {
    left: 13.2rem;
  }
}
.section-app-download h2 {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.7rem;
  max-width: 43.3rem;
}
@media (max-width: 1024px) {
  .section-app-download h2 {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
}
@media (max-width: 768px) {
  .section-app-download h2 {
    margin-bottom: 1.6rem;
  }
}
@media (max-width: 550px) {
  .section-app-download h2 {
    font-size: 1.6rem;
    line-height: 2rem;
    max-width: 11.1rem;
    margin-bottom: 1.6rem;
  }
}
.section-app-download p {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 2.8rem;
  max-width: 43.3rem;
  margin: 1.5rem 0 3.3rem;
}
@media (max-width: 1024px) {
  .section-app-download p {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .section-app-download p {
    display: none;
  }
}
.section-app-download .container-download-apps {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 2.9rem;
}
@media (max-width: 550px) {
  .section-app-download .container-download-apps {
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;
  }
}

.main-footer {
  padding: 4.6rem 0 4.9rem;
  background: var(--footer-background);
}
.main-footer .top {
  display: flex;
  gap: 4rem;
}
@media (max-width: 1024px) {
  .main-footer .top {
    flex-direction: column;
    gap: 3.2rem;
  }
}
.main-footer .top .footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  margin-right: 2rem;
}
@media (max-width: 1024px) {
  .main-footer .top .footer-logo {
    margin-right: 0;
  }
}
.main-footer .top .footer-logo ul {
  color: #f4eff4;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.3rem;
}
.main-footer .top .footer-logo a img {
  color: white;
}
.main-footer .top nav {
  flex: 1;
}
.main-footer .top nav ul {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  gap: 2.1rem 6rem;
  justify-items: start;
}
@media (max-width: 1024px) {
  .main-footer .top nav ul {
    justify-content: center;
  }
}
.main-footer .top nav ul li {
  width: 10.2rem;
}
.main-footer .top nav ul a {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #f4efef;
}
.main-footer .top .container-download-apps {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}
@media (max-width: 1024px) {
  .main-footer .top .container-download-apps {
    flex-direction: row;
    justify-content: center;
  }
}
.main-footer .top .container-download-apps a {
  color: white;
}
.main-footer .bottom {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  gap: 2.3rem;
  border-top: 0.1rem solid white;
  margin-top: 8.3rem;
}
@media (max-width: 1024px) {
  .main-footer .bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    margin-top: 2.7rem;
  }
}
.main-footer .bottom ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.3rem;
}
@media (max-width: 1024px) {
  .main-footer .bottom ul {
    flex-direction: column;
    gap: 1.6rem;
    align-items: flex-start;
  }
}
.main-footer .bottom a {
  text-decoration: underline;
}
.main-footer .bottom a,
.main-footer .bottom span {
  font-size: 13px;
  line-height: 21px;
  color: #f4efef;
}
@media (max-width: 1024px) {
  .main-footer .business-seal {
    display: flex;
    justify-content: center;
  }
}

.register-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
  background-color: var(--primary-color);
  color: white;
}
.register-bar span {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: -0.06em;
}
@media (max-width: 550px) {
  .register-bar span {
    font-size: 1.4rem;
    line-height: 3.2rem;
  }
}
.register-bar span:nth-of-type(1) {
  margin-right: 0.5rem;
}
@media (max-width: 550px) {
  .register-bar span:nth-of-type(1) {
    display: none;
  }
}
.register-bar a {
  padding: 1.1rem 1.75rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin-left: 2.1rem;
}
@media (max-width: 550px) {
  .register-bar a {
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-left: 2.9rem;
  }
}

.section-header {
  padding: 7.2rem 0;
}
@media (max-width: 1024px) {
  .section-header {
    padding: 3.2rem 0;
  }
}
.section-header .bottom {
  display: flex;
  gap: 6.7rem;
  margin-top: 0.7rem;
}
@media (max-width: 1024px) {
  .section-header .bottom {
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 1.2rem;
  }
}
.section-header .bottom h1 {
  width: 100%;
  max-width: 54.5rem;
  flex-shrink: 0;
  font-weight: 500;
  font-size: 45px;
  line-height: 61px;
}
@media (max-width: 1024px) {
  .section-header .bottom h1 {
    font-size: 2.4rem;
    line-height: 4rem;
    max-width: initial;
  }
}
.section-header p {
  color: var(--primary-text-color);
  font-size: 2.2rem;
  line-height: 3.8rem;
}
@media (max-width: 1024px) {
  .section-header p {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}

.section-banner {
  position: relative;
}
.section-banner figure {
  width: 100%;
  height: 63.4rem;
}
@media (max-width: 1024px) {
  .section-banner figure {
    height: 40rem;
  }
}
.section-banner img {
  filter: brightness(40%);
}
.section-banner h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.1rem;
  text-align: center;
  color: white;
  width: 100%;
  max-width: 76.9rem;
}
@media (max-width: 1024px) {
  .section-banner h2 {
    width: 80%;
    font-size: 5rem;
    line-height: 6rem;
  }
}
@media (max-width: 768px) {
  .section-banner h2 {
    max-width: 28.5rem;
    font-size: 3.2rem;
    line-height: 3.9rem;
  }
}

.our-history {
  padding: 6rem 0;
}
@media (max-width: 1366px) {
  .our-history {
    padding: 3.2rem 0;
  }
}
.our-history header {
  display: flex;
  gap: 1.6rem;
}
@media (max-width: 1366px) {
  .our-history header {
    gap: 1rem;
    flex-direction: column;
  }
}
.our-history header h2 {
  flex-shrink: 0;
}
.our-history header p {
  max-width: 43.3rem;
}
.our-history main {
  display: flex;
  margin-top: 6.6rem;
  gap: 4rem;
  height: 45.8rem;
}
@media (max-width: 1366px) {
  .our-history main {
    flex-direction: column;
    height: auto;
    margin-top: 2.4rem;
    gap: 2.4rem;
  }
}
.our-history main .left {
  display: flex;
  gap: 3rem;
  width: 36rem;
  flex-shrink: 0;
}
@media (max-width: 1366px) {
  .our-history main .left {
    width: 100%;
  }
}
.our-history main .left .navigation-wrapper {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1366px) {
  .our-history main .left .navigation-wrapper {
    display: none;
  }
}
.our-history main .left .navigation-wrapper div {
  transform: rotate(90deg);
}
.our-history main .left ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.3rem;
  list-style: none;
  overflow-y: auto;
}
@media (max-width: 1366px) {
  .our-history main .left ul {
    flex-direction: row;
    gap: 2.4rem;
    padding-bottom: 2.4rem;
  }
}
.our-history main .left ul li a {
  opacity: 0.18;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-right: 2rem;
}
.our-history main .left ul li a.selected {
  opacity: 1;
}
.our-history main .left ul li a.selected strong {
  font-weight: 700;
  font-size: 3rem;
  line-height: 139.5%;
}
@media (max-width: 1366px) {
  .our-history main .left ul li a.selected strong {
    font-size: 2.4rem;
    line-height: 139.5%;
  }
}
.our-history main .left ul li a.selected span {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 139.5%;
}
.our-history main .left ul li strong {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 139.5%;
  pointer-events: none;
}
@media (max-width: 1366px) {
  .our-history main .left ul li strong {
    font-size: 2.4rem;
    line-height: 139.5%;
  }
}
.our-history main .left ul li span {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 139.5%;
  pointer-events: none;
}
@media (max-width: 1366px) {
  .our-history main .left ul li span {
    display: none;
  }
}
.our-history main .our-history-card {
  display: none;
  gap: 6.8rem;
}
@media (max-width: 1366px) {
  .our-history main .our-history-card {
    flex-direction: column-reverse;
    gap: 2.4rem;
  }
}
.our-history main .our-history-card:nth-of-type(2) {
  display: flex;
}
.our-history main .our-history-card figure {
  width: 35.1rem;
  height: 45.8rem;
  flex-shrink: 0;
}
@media (max-width: 1366px) {
  .our-history main .our-history-card figure {
    width: 100%;
    height: 30rem;
  }
}
.our-history main .our-history-card .description-wrapper {
  padding-top: 5rem;
}
@media (max-width: 1366px) {
  .our-history main .our-history-card .description-wrapper {
    padding-top: 0;
  }
}
.our-history main .our-history-card p {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 2.8rem;
}
@media (max-width: 1366px) {
  .our-history main .our-history-card p {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}
.our-history main .our-history-card p strong {
  font-weight: 600;
}

.page-404 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-404 .section-404 {
  padding: 9.5rem 0;
  flex: 1;
}
@media (max-width: 768px) {
  .page-404 .section-404 {
    padding: 6.4rem 0;
  }
}
.page-404 .section-404 h1 {
  font-family: ubuntu;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 125%;
  color: var(--primary-color);
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .page-404 .section-404 h1 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
  }
}
.page-404 .section-404 p {
  color: var(--primary-text-color);
}
@media (max-width: 768px) {
  .page-404 .section-404 p {
    font-size: 1.6rem;
    line-height: 150%;
  }
}
.page-404 .section-404 a {
  padding: 1.7rem 1.5rem;
  margin-top: 6.2rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
@media (max-width: 768px) {
  .page-404 .section-404 a {
    padding: 1.05rem 0.8rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 3.2rem;
  }
}

.page-cookies-privacy {
  padding: 4rem 0 0;
  line-height: 1.8rem;
  font-size: 1.5rem;
}
.page-cookies-privacy h1 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 6.1rem;
  color: var(--primary-color);
  margin-bottom: 2.2rem;
}
@media (max-width: 1024px) {
  .page-cookies-privacy h1 {
    font-size: 3.2rem;
    line-height: 3.9rem;
  }
}
.page-cookies-privacy h3 {
  margin-bottom: 0;
  font-size: 2.5rem;
}
@media (max-width: 1024px) {
  .page-cookies-privacy h3 {
    font-size: 1.8rem;
  }
}
.page-cookies-privacy p {
  margin: 2rem 0;
  line-height: 1.8rem;
}
.page-cookies-privacy a {
  color: var(--primary-color);
}
.page-cookies-privacy a:hover {
  text-decoration: underline;
}
.page-cookies-privacy .dpo-in-charge {
  padding: 3rem 4.2rem;
  background-color: var(--primary-background-color);
  margin: 5rem 0 6rem;
}
@media (max-width: 1024px) {
  .page-cookies-privacy .dpo-in-charge {
    padding: 3.2rem 1.15rem;
  }
}
.page-cookies-privacy .dpo-in-charge strong {
  display: block;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 1.6rem;
}
.page-cookies-privacy .dpo-in-charge a {
  color: var(--primary-text-color);
  text-decoration: underline;
  transition: var(--transition);
}
.page-cookies-privacy .dpo-in-charge a:hover {
  color: var(--primary-color);
}

.page-search {
  margin-top: 3.2rem;
}
@media (max-width: 1366px) {
  .page-search {
    margin-top: 9.8rem;
  }
}
.page-search h1 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 6.1rem;
  color: var(--primary-color);
  margin-bottom: 3.5rem;
}
@media (max-width: 1024px) {
  .page-search h1 {
    font-size: 3.2rem;
    line-height: 3.9rem;
    margin-bottom: 1.6rem;
  }
}
.page-search > span {
  font-weight: 400;
  font-size: 15rem;
  line-height: 18rem;
}
@media (max-width: 1024px) {
  .page-search > span {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.page-search form {
  width: 100%;
  padding: 4.5rem 0;
  background-color: var(--primary-background-color);
  margin: 3.2rem 0 5rem;
}
@media (max-width: 1024px) {
  .page-search form {
    margin-bottom: 3.2rem;
  }
}
.page-search .search-result:not(:last-of-type) {
  margin-bottom: 2.4rem;
}
.page-search .search-result h2 {
  width: 100%;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 0.8rem;
  border-bottom: 0.1rem solid var(--border-color);
  margin-bottom: 0.8rem;
}
@media (max-width: 1024px) {
  .page-search .search-result h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
.page-search .search-result p {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--primary-text-color);
}
@media (max-width: 1024px) {
  .page-search .search-result p {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}
.page-search .pagination {
  margin: 5rem 0;
}

.page-site-map {
  margin-top: 4rem;
}
@media (max-width: 1366px) {
  .page-site-map {
    margin-top: 10rem;
  }
}
.page-site-map h1 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 6.1rem;
  color: var(--primary-color);
}
.page-site-map nav {
  margin: 2.3rem 0 8rem;
}
.page-site-map nav ul {
  list-style: none;
}
.page-site-map nav a {
  transition: var(--transition);
}
.page-site-map nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 6.4rem;
}
.page-site-map nav > ul > li {
  width: 23.4rem;
}
.page-site-map nav > ul > li > a {
  color: var(--primary-color);
  font-size: 2rem;
  line-height: 2.3rem;
}
.page-site-map nav > ul > li > a:hover {
  text-decoration: underline;
}
.page-site-map nav > ul > li ul {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  margin-top: 3rem;
}
.page-site-map nav > ul > li ul a {
  font-size: 1.5rem;
  line-height: 2.3rem;
}

/*# sourceMappingURL=theme.css.map */
